POSTGRES_USER=root_user
POSTGRES_PASSWORD=bdf3703f-e842-4dda-8439-8598e5e15c56
POSTGRES_DB=data_warehouse
PGDATA=/data/postgres
DW_HOST=localhost
name_personal_user=israel_mendes
password_personal_user=51fcb398
